.countries_menu {
	background-color: #000;
	color: #fff;
	display: flex;
	flex-wrap: wrap;
	font-size: 16px;
	justify-content: center;
	margin: 10px 0;
	position: relative;
	text-transform: uppercase;

	&.active {
		> li {
			&.current-menu-item ,
			&.current-menu-parent {
				display: flex;
			}
		}
	}

	a {
		color: #fff;
		display: block;
		padding: 4px 10px;
		position: relative;
		transition: $transition;
		text-decoration: none;
		white-space: nowrap;

		&:hover {
			color: $c_main;
		}
	}

	.current-category-ancestor,
	.current-menu-item {
		> a {
			color: $c_main;
		}

		&::after {
			border-color: $c_main;
		}
	}

	.menu-item {
		display: flex;
		position: relative;

		&:hover {
			&::after {
				border-color: $c_main;
				margin: -3px 0 0;
				transform: rotate(135deg);
			}

			> a {
				color: $c_main;
			}

			.sub-menu {
				display: block;
			}
		}
	}

	.sub-menu {
		background-color: #000;
		display: none;
		font-size: .8em;
		left: 0;
		position: absolute;
		top: 100%;
		z-index: 5;
	}

	@media #{$desktop} {
		font-size: 12px;
	}

	@media #{$mobile} {
		display: none;
		font-size: 18px;
		left: 0;
		margin: 0;
		position: absolute;
		top: 100%;
		width: 100%;
		z-index: 5;

		.sub-menu {
			border: 1px solid #fff;
			box-shadow: 0 0 4px #fff;
		}
	}
}

.countries_submenu {
	font-family: $font_montserrat;
	font-size: 18px;

	> .menu-item {
		display: none;

		&.current-menu-ancestor,
		&.current-menu-item {
			display: block;

			> a {
				display: none;
			}
		}
	}

	.sub-menu {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 8px 0;

		.current-menu-item {
			a {
				background-color: $c_main;
			}
		}

		> .menu-item {
			margin: 8px;

			@media #{$mobile_s} {
				font-size: 14px;
				margin: 4px;
				text-align: center;
				width: 100%;
			}
		}

		a {
			background-color: #000;
			border-radius: 16px;
			color: #fff;
			display: block;
			padding: 4px 8px;
			text-decoration: none;
			text-transform: uppercase;
			transition: $transition;

			&:hover {
				background-color: $c_main;
			}
		}
	}
}