
@keyframes scale {
	0% {
		opacity: .7;
		transform: scale(1);
	}
	20% {
		opacity: 1;
		transform: scale(1.3);
	}
	100% {
		transform: scale(1);
		opacity: .7;
	}
}

article {
	font-size: 16px;

	p {
		margin: 1em 0;
	}

	.wp-caption {
		margin: 30px 0;
		max-width: 100%;
	}
}

body {
	background-color: #fff;
	font-size: 14px;
	font-family: $font_main;
	font-weight: 500;
}

h1 {
	color: $c_main;
	font-size: 64px;
	font-weight: 400;
	letter-spacing: -.04em;
	margin: 0 0 .1em;

	@media #{$desktop} {
		text-align: center;
	}

	@media #{$mobile} {
		font-size: 40px;
		margin: 0 0 15px;
	}
}

h2 {
	color: $c_main;
	font-size: 40px;
	font-weight: 400;
	line-height: 1.2;
}

h3 {
	color: $c_main;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.2;
	margin: 1.5em 0 1em;
}

h4 {}

img {
	max-width: 100%;
}

input {
	&:focus {
		outline: none;
	}
}



.aside {
	width: 25%;

	@media #{$mobile} {
		width: 100%;
	}
}

.aside_list {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;

	&__item {
		display: block;
		margin: 0 0 20px;
		text-decoration: none;
		transition: $transition;

		&:hover {
			opacity: .7;
		}

		@media #{$mobile} {
			margin: 0;
			max-width: 220px;
			width: 100%;
		}
	}

	@media #{$mobile} {
		display: grid;
		grid-template-columns: auto auto auto;
		grid-gap: 30px;
	}

	@media #{$mobile_s} {
		grid-template-columns: auto auto;
	}
}

.cat_items_list {
	display: grid;
	grid-gap: 30px;
	grid-template-columns: auto auto auto auto;
	position: relative;

	&__item {
		display: block;
		position: relative;

		&::after {
			content: "";
			display: block;
			padding: 100% 0 0;
		}
	}

	&__link {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
}

.content {
	align-items: flex-start;
	display: flex;
	flex-wrap: wrap;
}

.content_main {
	padding: 30px 30px 30px 0;
	width: 75%;

	.wp-block-latest-posts {
		&__featured-image {
			a {
				display: block;
				width: 100%;
			}

			img {
				width: 100%;
			}
		}

		&__post-title {
			color: $c_main;
			display: block;
			font-size: 30px;
			margin: .3em 0;
		}

		li {
			padding: 0 0 30px;
		}
	}

	@media #{$mobile} {
		width: 100%;
	}
}

.countries_list {
	color: #fff;
	display: flex;
	flex-wrap: wrap;
	font-size: 16px;
	justify-content: center;
	margin: 10px 0;

	&__item {}

	&__link {
		display: block;
		padding: .3em 1em;
		transition: $transition;
		text-decoration: none;
		white-space: nowrap;

		&:hover {
			color: $c_main;
		}
	}

	@media #{$desktop} {
		font-size: 12px;
	}
}

.lang_switcher {
	position: relative;
	text-transform: uppercase;

	&:hover {
		.lang_switcher_list {
			display: block;
		}
	}

	&__current {
		cursor: pointer;
		padding: .5em 1em;
	}
}

.lang_switcher_list {
	background-color: #000;
	display: none;
	left: 0;
	position: absolute;
	text-align: center;
	top: 100%;
	width: 100%;

	a,
	a:visited {
		display: block;
		padding: 8px;
		transition: $transition;

		&:hover {
			color: $c_main;
		}
	}

	&__item {}

	&__link {
		text-decoration: none;
	}
}

.main_content {
	padding: 30px 0;
}

.thumb_img {
	width: 100%;
}

.wrap {
	margin: 0 auto;
	max-width: 1280px;
	padding: 0 30px;
}
